* {
  margin: 0px;
  padding: 0px;
}
.primary-color{
  color: #ff42a5;
}
.secondary-color {
  color: #9900cc;
}
/* ///////////////////////// */
/* Header Section */
/* ///////////////////////// */
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.title-div {
  display: flex;
  align-items: center;
  justify-content: left;
}
.title-img-div {
  padding: 0px 10px;
}
.title {
  font-size: 1.5rem;
}
.pink {
  color: #ff42a5;
}
.menu-div {
  display: flex;
  justify-content: right;
  font-size: 1.25rem;
  padding: 0px 20px;
}
.menu-div ul {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px;
  list-style: none;
}
.menu-div li {
  width: 100px;
}
.social-div {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin: 20px;
  border-radius: 10px;
}
.social-div p {
  margin: 0px;
  padding: 10px;
  color: black;
  width: 120px;
}
.social-div i {
  padding: 0px 10px;
}

/* ////////////////////// */
/* Bannar Section */
/* ////////////////////// */
.bannar-section {
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(../images/Group\ 14.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.bannar-description {
  width: 100%;
}
.bannar-description p {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
}
.bannar-description h1 {
  font-size: 4rem;
  color: #9900cc;
  padding: 20px;
}
.bannar-ul {
  padding: 10px 20px;
}
.bannar-description li {
  list-style: none;
  color: gray;
  font-size: 1.25rem;
  margin-top: 10px;
}
button {
  color: white;
  font-weight: bolder;
  border: 0px;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-sign-in {
  background-color: #ff42a5;
}
.btn-go-rogue {
  background-color: #4ec5f7;
}
.bannar-img-div {
  width: 100%;
  margin: 20px;
  text-align: center;
}
.bannar-img-div img {
  width: 80%;
}
/* //////////////////////////// */
/* Gamer Section */
/* //////////////////////////// */
.gamer-section {
  display: flex;
  align-items: center;
  background-color: #fff9fc;
  padding: 20px;
}
.gamer-img-div {
  width: 100%;
  margin: 0px 50px;
}
.gamer-img-div img {
  width: 100%;
}
.gamer-description {
  width: 75%;
  text-align: right;
  margin: 0px 50px;
}
.gamer-description h3 {
  color: #9900cc;
  font-size: 3rem;
  margin-bottom: 20px;
}
.gamer-description small,
p {
  color: #635d71;
}
.gamer-description h4 {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: bold;
}
.btn-know-more {
  background-color: #ff42a5;
}

/* ///////////////////// */
/* Cart Section */
/* ////////////////////// */
.cart-description {
  text-align: center;
  margin: 20px;
}
.cart-description h3 {
  font-size: 3rem;
  padding-bottom: 20px;
}
.cart-description small {
  color: #8e8a98;
  font-weight: bold;
}
.carts-div {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.cart-img {
  text-align: center;
  opacity: 1;
}
.cart-img img {
  width: 90%;
  padding: 10px;
}

.cart-img:hover{
  opacity: 0.3;
}
.hover-div{
  display: none;
  
}
.cart-img:hover .hover-div{
  display: block;
  position: relative;
  bottom: 200px; 
  
}
.carts small {
  font-weight: bold;
  margin-left: 20px;
  color: #534c64;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* Responsive Design For Mobile Device */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 676px) {
  nav {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .title-div {
    margin-bottom: 30px;
    justify-content: center;
  }
  .menu-div {
    flex-direction: column;
    align-items: center;
  }
  .menu-div ul {
    flex-direction: column;

    padding: 0px;
    margin: 0px;
  }
  .menu-div li {
    margin-bottom: 30px;
  }
  .social-div {
    margin-top: 0px;
    padding: 0px;
  }
  /* ////////////////////// */
  /* Responsive Bannar Section for Mobile Device */
  /* /////////////////// */
  .bannar-section {
    flex-direction: column-reverse;
    background-image: none;
  }
  .bannar-description {
    text-align: center;
    background-image: url(../images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* /////////////////////// */
  /* Responsive Gamer Section for Mobile Device*/
  /* ////////////////////// */
  .gamer-section {
    flex-direction: column;
    background-color: white;
  }
  .gamer-description {
    text-align: center;
  }
  .btn-know-more {
    margin-left: 0px;
  }
  /* ///////////////////// */
  /*Responsive Cart Section for Mobile Section*/
  /* ////////////////////// */
  .carts-div {
    flex-direction: column;
    text-align: center;
  }
  .cart-img img {
    width: 75%;
    padding-top: 30px;
    padding-bottom: 5px;
  }
}
